<!DOCTYPE html>
<!--
An example web page that creates and displays a custom Google Maps API Map Type
for Earth Engine map tiles.  See Google Maps documentation on Custom Map Types
for details.
-->
<html>
  <head>
    <title>Earth Engine</title>
  </head>
  <body>
    <h3>Google Earth Engine</h3>
    <p><b>{{title}}</b><br />
    Time series of {{count}} scenes.<br />
    Polarization: {{polarization}}<br />
    Asset ExportID: {{assexportid}}<br />
    Google Drive ExportID: {{gdexportid}}<br />
    First scene:<br />
    System ID: {{systemid}}<br />
    Projection: {{projection}}<br />
    Timestamp: {{timestamp}}<br /> 
    </p>

    <p>Acquisition times:<br />
    {{timestamps}}<br />
    Relative orbit numbers:<br />
    {{relativeorbitnumbers}}<br />
    Mean incident angles:<br />
    {{meanangles}}<br />}</p>
    <p>
    <b>{{exportmsg1}}<br />
       {{exportmsg2}}<br />
       {{exportmsg3}}</b>
    </p>
    <a href={{downloadpath}}>Download change maps</a><br />
    <p><a href="/" name="return"> Return</a></p>
    
  </body>
</html>