<!DOCTYPE html>
<!--
An example web page that creates and displays a custom Google Maps API Map Type
for Earth Engine map tiles.  See Google Maps documentation on Custom Map Types
for details.
-->
<html>
  <head>
    <title>Earth Engine</title>
    
  </head>
  <body>
    <h3>Google Earth Engine</h3>
    <p><b>Principal Components Analysis.</b><br />
    Most cloud-free of {{count}} scenes.<br />
    System ID: {{systemid}}<br />
    Cloudcover(percent): {{cloudcover}}<br />  
    Projection: {{projection}}<br />
    Variances: {{variances}}<br />
    Timestamp: {{timestamp}}<br />
    Timestamps: {{timestamps}}<br />     
    </p>
    <p>
    <b>{{exportmsg}}</b>
    </p>
    <p><a href="/" name="return"> Return</a></p>
  </body>
</html>