<html>
<link type="text/css" rel="stylesheet" href="/static/css/mystyle.css" />
<script language="JavaScript" src="/static/js/ajax.js"></script>
<head>
	<title>iMAD</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
</head>

<body>
<h2>Run Automatic Radiometric Normalization in Batch Mode</h2>
{{msg|safe}}
<p><a href="/" name="return"> Return</a></p>
	
	<div id="mapid" style="width: 640px; height: 480px;"></div>

<form name="form" >
<p>
	Platform  <input id="pf" type="text" name="platform"  value="S2/10" size=4 /> (S2/10, S2/20, L8, L7 or L5)<br />
	Start search (yyyy-mm-dd) :
	<input id="sd" type="text" value = "2015-01-01" name = "startdate" size = 8><br />
	End search (yyyy-mm-dd) :
	<input id="ed" type="text" value = "2018-01-01" name = "enddate" size = 8><br />
	Season from month
	<input id="m1" type="text" value = "6" name = "month1" size = 2>
	to month
   <input id="m2" type="text" value = "8" name = "month2" size = 2><br />
	Maximum cloud cover (%)
	<input id="ccm" type="text" value = "5" name = "maxcloudcover" size = 2><br />
	Iterations : 
	<input id="it" type="text" value = "50" name = "niter" size = 2><br />	
	
    <table style="width:300px">
	  <tr>
	    <td>maxLat: <input id="maxlat" type="text" value = {{maxLat}}  name = "maxLat" size = 6></td>
	    <td>minLon: <input id="minlon" type="text" value = {{minLon}}  name = "minLon" size = 6></td> 
	  </tr>
	  <tr>
	    <td>minLat: <input id="minlat" type="text" value = {{minLat}}  name = "minLat" size = 6></td>
	    <td>maxLon: <input id="maxlon" type="text" value = {{maxLon}}  name = "maxLon" size = 6></td> 
	  </tr>
	 </table>	 
   Export to assets in directory: 
     <input id="assn" type="text" value = "users/mortcanty/radcal" name = "assexportname" size = 20>
   at scale:
     <input id="asssc" type="text" value = "10" name = "assexportscale" size = 2> meters<br />
   <p><input type="button" value="Go"
   onClick=" var pf = document.getElementById('pf').value;
             var sd = document.getElementById('sd').value;
             var ed = document.getElementById('ed').value;
             var m1 = document.getElementById('m1').value;
             var m2 = document.getElementById('m2').value;
             var ccm = document.getElementById('ccm').value;
             var it = document.getElementById('it').value;
             var maxlat = document.getElementById('maxlat').value;
             var minlon = document.getElementById('minlon').value;
             var minlat = document.getElementById('minlat').value;
             var maxlon = document.getElementById('maxlon').value;
             var assn = document.getElementById('assn').value;
             var asssc = document.getElementById('asssc').value;
             document.getElementById('answer').innerHTML = 'Submitting, please wait ...';
             document.body.style.cursor='wait';          
  sndReq('/radcal.html','pf='+pf+'&sd='+sd+'&ed='+ed+'&m1='+m1+'&m2='+m2+'&ccm='+ccm+'&it='+it+'&maxlat='+maxlat+'&minlon='+minlon+'&minlat='+minlat+'&maxlon='+maxlon+'&assn='+assn+'&asssc='+asssc);"></p>      	
      </p>
</form>

<div id="answer"></div>

<script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>


<script>

mapboxss = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets-satellite',
    accessToken: 'pk.eyJ1IjoibWNhbnR5IiwiYSI6ImNpcjRsMmJxazAwM3hoeW05aDA1cmNkNzMifQ.d2UbIugbQFk2lnU8uHwCsQ'
 //   accessToken: '{{accessToken}}'
});

mapboxs = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.satellite',
    accessToken: 'pk.eyJ1IjoibWNhbnR5IiwiYSI6ImNpcjRsMmJxazAwM3hoeW05aDA1cmNkNzMifQ.d2UbIugbQFk2lnU8uHwCsQ'
//    accessToken: '{{accessToken}}'
});

osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
});

var LAT = {{centerLat}}
var LON = {{centerLon}}  

var mymap = L.map('mapid', {layers:[mapboxss,mapboxs,osm]}).setView([LAT, LON], 10);

var baseLayers = {
	    "Mapbox-Streets": mapboxss,
	    "Mapbox-Satellite": mapboxs,
	    "OpenStreetMap": osm
	};

L.control.layers(baseLayers).addTo(mymap);

var drawnItems = new L.FeatureGroup();
mymap.addLayer(drawnItems);
var drawControl = new L.Control.Draw({
     draw: {
          polygon: false,
          polyline: false,
          circle: false,
          marker: false
     },        
     edit: {
         featureGroup: drawnItems,
         edit: false
         }
     });
mymap.addControl(drawControl);

mymap.on(L.Draw.Event.CREATED, function(e) {
   var layer = e.layer;
   drawnItems.addLayer(layer);
   var latLngs = (layer.getLatLngs())[0];
   document.getElementById("minlat").value = (latLngs[0]).lat.toString();
   document.getElementById("maxlat").value = (latLngs[1]).lat.toString();
   document.getElementById("minlon").value = (latLngs[0]).lng.toString();
   document.getElementById("maxlon").value = (latLngs[2]).lng.toString();  
});     
var popup = L.popup();

function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent('lat:  '+e.latlng.lat.toString()+'<br />lng:  '+e.latlng.lng.toString())
        .openOn(mymap);
}

mymap.on('click', onMapClick);
</script>

</body>
</html>