<html>
<link type="text/css" rel="stylesheet" href="/static/css/mystyle.css" />
<script language="JavaScript" src="/static/js/ajax.js"></script>
<head>
	<title>Radcal</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
</head>

<body>
<h2>Automatic Radiometric Normalization</h2>
{{msg|safe}}
<p><a href="/" name="return"> Return</a></p>
	
	<div id="mapid" style="width: 640px; height: 480px;"></div>

<form method="post" action = "/radcal.html" >

	<table>
    <td><b><p>
    <input type="radio" name="collectionid"  value="LANDSAT/LT4_L1T_TOA" />LANDSAT/LT4_L1T_TOA<br />
    <input type="radio" name="collectionid"  value="LANDSAT/LT05/C01/T1_TOA" />LANDSAT/LT05/C01/T1_TOA<br />
    <input type="radio" name="collectionid"  value="LANDSAT/LE07/C01/T1_RT_TOA" />LANDSAT/LE07/C01/T1_RT_TOA<br />
    <input type="radio" name="collectionid"  value="LANDSAT/LC08/C01/T1_RT_TOA" />LANDSAT/LC08/C01/T1_RT_TOA<br />
	<input type="radio" name="collectionid"  value="COPERNICUS/S2_10"  checked="checked" /> COPERNICUS/S2  (VNIR/SWIR)<br />	
	<input type="radio" name="collectionid"  value="ASTER/AST_L1T_003" /> ASTER/AST_L1T_003  (VNIR)<br />
    </p>
    </b></td> <td> 	
	<td><b><p>
	<input type="radio" name="collectionid"  value="LANDSAT/LT4_L1T"  />LANDSAT/LT4_L1T<br />
    <input type="radio" name="collectionid"  value="LANDSAT/LT05/C01/T1"  />LANDSAT/LT05/C01/T1<br />
    <input type="radio" name="collectionid"  value="LANDSAT/LE07/C01/T1_RT" />LANDSAT/LE07/C01/T1_RT<br />
    <input type="radio" name="collectionid"  value="LANDSAT/LC08/C01/T1_RT" />LANDSAT/LC08/C01/T1_RT<br />
    <input type="radio" name="collectionid"  value="COPERNICUS/S2_20" /> COPERNICUS/S2  (NIR/SWIR)<br />
    </p></td>
    </tr></table> 
    <input type="radio" name="collectionid"  value="none" /> <b>Roll Your Own</b> 
	<input id="sd" type="text" value = "LANDSAT/LM5_L1T"  name = "collectionID" size = 16>
	Bands<input id="sd" type="text" value = "B1 B2 B3 B4"  name = "bandnames" size = 12>
   <br />     
	Start search (yyyy-mm-dd) :
	<input id="sd" type="text" value = {{startDate}}  name = "startDate" size = 8><br />
	End search (yyyy-mm-dd) :
	<input id="ed" type="text" value = {{endDate}} name = "endDate" size = 8><br />
	Season from month
	<input id="m1" type="text" value = {{month1}} name = "month1" size = 2>
	to month
   <input id="m2" type="text" value = {{month2}} name = "month2" size = 2><br />
	Maximum cloud cover (%)
	<input id="ccm" type="text" value = "5" name = "maxcloudcover" size = 2><br />
	Iterations : 
	<input id="it" type="text" value = "50" name = "niter" size = 2><br />	
	
    <table style="width:300px">
	  <tr>
	    <td>maxLat: <input id="maxLat" type="text" value = {{maxLat}}  name = "maxLat" size = 6></td>
	    <td>minLon: <input id="minLon" type="text" value = {{minLon}}  name = "minLon" size = 6></td> 
	  </tr>
	  <tr>
	    <td>minLat: <input id="minLat" type="text" value = {{minLat}}  name = "minLat" size = 6></td>
	    <td>maxLon: <input id="maxLon" type="text" value = {{maxLon}}  name = "maxLon" size = 6></td> 
	  </tr>
	 </table>	 
     Reference image number (in order of increasing cloud cover):
     <input id="refnumber" type="text" value = "1" name = "refnumber" size = 2><br /> 
    <input type="submit" id = "submit" value="Go">
</form>

<div id="answer"></div>

<script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>


<script>

mapboxss = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets-satellite',
    accessToken: 'pk.eyJ1IjoibWNhbnR5IiwiYSI6ImNpcjRsMmJxazAwM3hoeW05aDA1cmNkNzMifQ.d2UbIugbQFk2lnU8uHwCsQ'
 //   accessToken: '{{accessToken}}'
});

mapboxs = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.satellite',
    accessToken: 'pk.eyJ1IjoibWNhbnR5IiwiYSI6ImNpcjRsMmJxazAwM3hoeW05aDA1cmNkNzMifQ.d2UbIugbQFk2lnU8uHwCsQ'
//    accessToken: '{{accessToken}}'
});

osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
});

var LAT = {{centerLat}}
var LON = {{centerLon}}  

var mymap = L.map('mapid', {layers:[mapboxss,mapboxs,osm]}).setView([LAT, LON], 10);

var baseLayers = {
	    "Mapbox-Streets": mapboxss,
	    "Mapbox-Satellite": mapboxs,
	    "OpenStreetMap": osm
	};

L.control.layers(baseLayers).addTo(mymap);

var drawnItems = new L.FeatureGroup();
mymap.addLayer(drawnItems);
var drawControl = new L.Control.Draw({
     draw: {
          polygon: false,
          polyline: false,
          circle: false,
          marker: false
     },        
     edit: {
         featureGroup: drawnItems,
         edit: false
         }
     });
mymap.addControl(drawControl);

mymap.on(L.Draw.Event.CREATED, function(e) {
   var layer = e.layer;
   drawnItems.addLayer(layer);
   var latLngs = (layer.getLatLngs())[0];
   document.getElementById("minLat").value = (latLngs[0]).lat.toString();
   document.getElementById("maxLat").value = (latLngs[1]).lat.toString();
   document.getElementById("minLon").value = (latLngs[0]).lng.toString();
   document.getElementById("maxLon").value = (latLngs[2]).lng.toString();  
});     
var popup = L.popup();

function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent('lat:  '+e.latlng.lat.toString()+'<br />lng:  '+e.latlng.lng.toString())
        .openOn(mymap);
}

mymap.on('click', onMapClick);
</script>

</body>
</html>