<!DOCTYPE html>
<!--
An example web page that creates and displays a custom Google Maps API Map Type
for Earth Engine map tiles.  See Google Maps documentation on Custom Map Types
for details.
-->
<html>
  <head>
    <title>Earth Engine</title>
    
  </head>
  <body>
    <h3>Google Earth Engine</h3>
    <p><b>{{title}}</b><br />    
    Images found: {{count}}<br />
    Timestamps: {{timestamps}}<br />
    Cloud Covers: {{cloudcovers}}<br /> 
    <b>Reference Image</b><br />
    Timestamp: {{timestamp}}<br />
    Cloud Cover: {{refcloudcover}}<br />
    <b>Image Series</b><br />
    Systemids: {{systemids}}<br />   
    </p>
     <p><a href="/" name="return"> Return</a></p>
    <div id="map" style="width: 640px; height: 480px;"></div><br />
   
  </body>
</html>