<!DOCTYPE html>
<!--
An example web page that creates and displays a custom Google Maps API Map Type
for Earth Engine map tiles.  See Google Maps documentation on Custom Map Types
for details.
-->
<html>
  <head>
    <title>Earth Engine</title>

  </head>
  <body>
    <h3>Google Earth Engine</h3>
    <p><b>{{titletext}}.</b><br />
    Data for first of {{count}} scenes:.<br />
    Polarization: {{polarization}}<br />
    System ID: {{systemid}}<br />
    Projection: {{projection}}<br />
    Timestamp: {{timestamp}}<br />
    Rectangle: {{rect}}<br />
    GDExportID: {{gdexportid}}<br />
    </p>
     <p>
    <b>{{exportmsg}}</b>
    </p>
    <p><a href="/" name="return"> Return</a></p>
    <a href={{downloadpathclip}}>{{downloadtext}}</a><br />
    <p>Acquisition times:<br />
    {{timestamps}}<br />
    Relative orbit numbers:<br />
    {{relativeorbitnumbers}}<br />
    System IDs:<br />
    {{systemids}} </p>
  </body>
</html>